@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background: lightblue;
    }
</style>

<div class="jumbotron">
    <h1>Cinema Site</h1>
    <p class="lead"> Cinema site is a site in which you can create, edit and delete movies and the tickets for these movies. The site is sponsored by Hotel-Restaurant Chinara. To visit the page of this hotel, please press 'Learn more'.</p>
    <p><a href="https://www.facebook.com/ognyanovo12chinara7/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>IMBD Site</h2>
        <p>
            In this web site you can see some of the most famous movies and to see their trailers in IMBD, using the button 'IMBD'.
        </p>
        <p><a class="btn btn-default" href="http://www.imdb.com/">IMBD &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Weather</h2>
        <p> The site also takes care of your health and comfort so, if you want to be up to date with the the weather report please click the button below.</p>
        <p><a class="btn btn-default" href="http://sinoptik.bg/sofia-bulgaria-100727011?location">Weather &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Horoscope</h2>
        <p>You can easily find your month, daily and anual horoscope here.</p>
        <p><a class="btn btn-default" href="http://zodia.bg/">Horoscope &raquo;</a></p>
    </div>
</div>