
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Successful</title>
    
    
        <style>
            body {
                background-color: #87cefa;
                text-align: center;
            }

            h2 {
                color: black;
                text-align: center; 
            }
            
            img {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: -1;
}
        </style>
    </head>
    <body>

    <h2>The changes are successful :) If you click <a href="@Url.Action("Index","Movie")"> Here</a>, you can see all movies!</h2>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
        <h2> If you want to return to Home page, please <a href="@Url.Action("Index","Home")">CLICK!</a></h2>

    <br/>
    <br/>
    <br/>
    <br/>
    <h2> Thank you :)</h2>
    </body>
</html>


